

.orderIDHeader {
  // background-color: lightblue;
  // color: #000;
  font-size: 14px;
  font-style: 800;
  margin: 5px;
  padding: 5px;
}

.customerIDHeader {
  // background-color: lightgreen;
  // color: #000;
  font-size: 14px;
  font-style: 800;
  margin: 5px;
  padding: 5px;
}

.schedule {
  background-color: #fff9ef;
  color: #000;
  font-size: 14px;
  font-style: 800;
  margin: 5px;
  padding: 5px;
}

.visit-status {
  // padding-left: 10px;
  // padding-right: 10px;
  // overflow: hidden;
  // width: auto;
  font-size: 14px;
  font-style: 800;

  cursor: pointer;

  &.schedule {
    //text-gray-400 bg-gray-400
    background-color: #fff9ef;
    border: 1px solid #fff9ef;
    color: #000;
  }
  &.unconfirmed {
    //text-cyan-500 bg-cyan-500
    background-color: #73c7e2;
    border: 1px solid #73c7e2;
    color: #000;
  }
  &.confirmed {
    //text-cyan-700 bg-cyan-700
    background-color: #23b0ba;
    border: 1px solid #23b0ba;
    color: #000;
  }
  &.reschedule {
    //text-lime-500 bg-lime-500
    background-color: #cf8a3f;
    border: 1px solid #cf8a3f;
    color: #fff;
  }
  &.absent {
    //text-pink-500 bg-pink-500
    background-color: #f0f2f1;
    border: 1px solid #f0f2f1;
    color: #000;
  }
  &.missed {
    //text-rose-500 bg-rose-500
    background-color: #de4a48;
    border: 1px solid #de4a48;
    color: #fff;
  }
  &.clinic {
    //text-sky-500 bg-sky-500
    background-color: #09d8de;
    border: 1px solid #09d8de;
    color: #000;
  }
  &.review {
    //text-emerald-400 bg-emerald-400
    background-color: #09de9c;
    border: 1px solid #09de9c;
    color: #000;
  }
  &.finished {
    //text-emerald-600 bg-emerald-600
    background-color: #2bb325;
    border: 1px solid #2bb325;
    color: #fff;
  }
  &.validated {
    //text-emerald-700 bg-emerald-700
    background-color: #368933;
    border: 1px solid #368933;
    color: #fff;
  }
  &.endorsed {
    //text-emerald-900 bg-emerald-900
    background-color: #345e33;
    border: 1px solid #345e33;
    color: #fff;
  }
  &.monitor {
    //text-emerald-950 bg-emerald-950
    background-color: #253425;
    border: 1px solid #253425;
    color: #fff;
  }
}

.visit-svg {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.e-grid .e-spinner-pane {
  //hide the Grid spinner
  display: none;
}

// ::ng-deep th.e-headercell.e-templatecell.e-defaultcursor div {
//     padding: 0px !important;
//     text-align: center;
// }