<div 
  class="bg-card flex max-h-20 min-h-20 min-w-26 max-w-26 cursor-pointer flex-col items-center justify-center rounded border-2 p-4"
  [ngClass]="getBgClass(visit)"  
>
<a 
  mat-icon-button [matMenuTriggerFor]="summaryMenu" class="text-white font-medium"
>
  <div class="mt-2 flex flex-col flex-nowrap items-center">
    <div class="truncate text-lg font-medium" [ngClass]="getTextClass(visit)" >
      @if(visit.appointment_start_date) {
        {{ visit.appointment_start_date | date: 'd MMM y' }}
      } 
      @if(!visit.appointment_start_date) {
          {{ visit.visit_status }}
      }
    </div>
  </div>
</a>
<mat-menu #summaryMenu="matMenu">
  <button mat-menu-item>
    Set Appointment
  </button>
  <button mat-menu-item>
     View Visit
  </button>
  <button mat-menu-item>
    Open Participant
  </button>
</mat-menu>

</div>