davesa-visit-drawer {
    // position: fixed;
    // top: 0;
    // z-index: 999;
    // width: 100%;
    // height: 6px;
    //Drawer
    position: static;
    display: block;
    flex: none;
    width: auto;
}
// davesa-visit-drawer {
//     position: static;
//     display: block;
//     flex: none;
//     width: auto;
// }

// @media (screen and min-width: 1280px) {
//     empty-layout + settings .settings-cog {
//         right: 0 !important;
//     }
// }
