<div class="flex w-full flex-col">
    <!-- View mode -->
    @if (!editMode) {
        <!-- Header -->
        <div class="relative">
            <div class="flex flex-row gap-1 m-2">
                <div class="basis-1/6 h-full w-full items-center text-center rounded-full">
                    <div class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full">
                        <div
                            class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{ participant.first_name.charAt(0) + participant.last_name.charAt(0) }}
                        </div>
                    </div>
                </div>
                <div class="basis-auto h-full w-full items-center text-left">
                    <div class="ml-4 min-w-0">
                        <div class="truncate font-medium leading-5">
                            {{ participant.subject_id }}
                        </div>
                        <div class="text-secondary truncate leading-5">
                            {{ participant.status }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="relative h-40 w-full bg-accent-100 px-8 dark:bg-accent-700 sm:h-48 sm:px-12"
        >
            <!-- Background -->
            <img
                class="absolute inset-0 h-full w-full object-cover"
                [src]="'images/cards/davesa-640x480.jpg'"
            />
            <!-- Close button -->
            <div
                class="mx-auto flex w-full max-w-3xl items-center justify-end pt-6 "
            >
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']"
                    class="bg-warn-100"
                >
                    <mat-icon
                        class="text-gray"
                        [svgIcon]="'heroicons_outline:x-mark'"
                    ></mat-icon>
                </a>
            </div>
        </div>

        <!-- Visit -->
        <div
            class="relative flex flex-auto flex-col items-center p-6 pt-0 sm:p-12 sm:pt-0"
        >
            <div class="w-full max-w-3xl">
                <!-- Avatar and actions -->
                <div class="-mt-16 flex flex-auto items-end">
                    <!-- Avatar -->
                    <div
                        class="ring-bg-card flex h-32 w-32 items-center justify-center overflow-hidden rounded-full ring-4"
                    >
                        <div
                            class="flex h-full w-full items-center justify-center overflow-hidden rounded bg-gray-200 text-8xl font-bold uppercase leading-none text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                        >
                            {{ visit.name.charAt(0) }}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="mb-1 ml-auto flex items-center">
                        <button
                            mat-stroked-button
                            (click)="toggleEditMode(true)"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-square'"
                            ></mat-icon>
                            <span class="ml-2">Edit</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 truncate text-4xl font-bold">
                    {{ visit.name }}
                </div>

                <div class="mt-4 flex flex-col space-y-8 border-t pt-6">
                    <!-- Email -->
                    @if (visit.email) {
                        <div class="flex sm:items-center">
                            <mat-icon
                                [svgIcon]="'mat_outline:email'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ visit.email }}
                            </div>
                        </div>
                    }

                    <!-- Website -->
                    @if (visit.website) {
                        <div class="flex sm:items-center">
                            <mat-icon
                                [svgIcon]="
                                    'mat_outline:web'
                                "
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ visit.website }}
                            </div>
                        </div>
                    }

                    <!-- Address -->
                    @if (visit.address) {
                        <div class="flex sm:items-center">
                            <mat-icon
                                [svgIcon]="'heroicons_outline:map-pin'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ visit.address }}
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <!-- Edit mode -->
    @if (editMode) {
        <!-- Header -->
        <div
            class="relative h-40 w-full bg-accent-100 px-8 dark:bg-accent-700 sm:h-48 sm:px-12"
        >
            <!-- Background -->
            <img
                class="absolute inset-0 h-full w-full object-cover"
                [src]="'images/cards/davesa-640x480.jpg'"
            />
            <!-- Close button -->
            <div
                class="mx-auto flex w-full max-w-3xl items-center justify-end pt-6"
            >
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']"
                    class="bg-warn-100"

                >
                    <mat-icon
                        class="text-gray"
                        [svgIcon]="'heroicons_outline:x-mark'"
                    ></mat-icon>
                </a>
            </div>
        </div>

        <!-- Visit form -->
        <div
            class="relative flex flex-auto flex-col items-center px-6 sm:px-12"
        >
            <div class="w-full max-w-3xl">
                <form [formGroup]="visitForm">
                    <!-- Avatar -->
                    <div class="-mt-16 flex flex-auto items-end">
                        <div
                            class="ring-bg-card relative flex h-32 w-32 items-center justify-center overflow-hidden rounded-full ring-4"
                        >
                            <!-- Image/Letter -->
                            <div
                                class="flex h-full w-full items-center justify-center overflow-hidden rounded bg-gray-200 text-8xl font-bold uppercase leading-none text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            >
                                {{ visit.name.charAt(0) }}
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Name</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:user-circle'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'name'"
                                [ngModel]="visit.name"
                                [placeholder]="'Name'"
                                [spellcheck]="false"
                            />
                        </mat-form-field>
                    </div>
                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'mat_outline:email'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'Email'"
                                [ngModel]="visit.email"

                            />
                        </mat-form-field>
                    </div>

                    <!-- Website -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Website</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'mat_outline:web'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'website'"
                                [placeholder]="'Company'"
                                [ngModel]="visit.website"
                            />
                        </mat-form-field>
                    </div>

                    <!-- Address -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>Address</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden icon-size-5 sm:flex"
                                [svgIcon]="'heroicons_solid:map-pin'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'address'"
                                [placeholder]="'Address'"
                                [ngModel]="visit.address"

                            />
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div
                        class="-mx-6 mt-10 flex items-center border-t bg-gray-50 py-4 pl-1 pr-4 dark:bg-transparent sm:-mx-12 sm:pl-7 sm:pr-12"
                    >
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            (click)="deleteVisit()"
                        >
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            (click)="toggleEditMode(false)"
                        >
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="visitForm.invalid"
                            [matTooltip]="'Save'"
                            (click)="updateVisit()"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
